<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOP | Funkashop</title>
    <link rel="stylesheet" href="../../CSS/index.css">

</head>

<body>
    <%- include('../partials/header') %>

    <section class="shop container">
        <!--Barra lateras-->
        <section>
            <aside class="filtros">
                <div class="filtros_Titulo_Item">
                    <label class="Filtros__label" for="buscar">BUSCAR</label>
                    <input class="buscar_filtro__input" type="text" name="buscar" id="buscar"
                        placeholder="Item o categoria">
                </div>

                <div class="filtros_Titulo_Item">
                    <label class="Filtros__label" for="itemcat">ORDENAR POR</label>
                    <input class="ordenar_filtro__input" type="text" name="itemcat" id="itemcat"
                        placeholder="Item o categoria">
                </div>

                <div class="filtros_Titulo_Item">
                    <h1 class="Filtros__label">PRECIO</h1>
                    <div class="precio__items">
                        <label class="Filtros__label " for="min">Min</label>
                        <input class="precio_filtro__input" type="text" name="min" id="min">
                        <label class="Filtros__label " for="max">Max</label>
                        <input class="precio_filtro__input" type="text" name="max" id="max">
                    </div>
                </div>


                <section>
                    <div class="filtrar__check">
                        <ul>
                            <li>
                                <input type="checkbox" name="nuevos" id="nuevos" />
                                <label for="nuevos">NUEVOS</label>
                            </li>
                            <li>
                                <input type="checkbox" name="ofertas" id="ofertas" />
                                <label for="ofertas">OFERTAS</label>
                            </li>
                            <li>
                                <input type="checkbox" name="edicion especial" id="edicion_especial" />
                                <label for="edicion_especial">EDICION ESPECIAL</label>
                            </li>
                            <li>
                                <input type="checkbox" name="favoritos" id="favoritos" />
                                <label for="favoritos">FAVORITOS</label>
                            </li>
                        </ul>

                    </div>
                </section>

                <section>

                </section>
            </aside>
        </section>
        <!--Fin Barra lateras-->


        <section class="Shop__list content">

      

            <% productos.forEach(producto =>{ %>
                <%- include('../partials/card', { producto }) %>
              <%}) %>


        </section>









    </section>

    <div class="paginacion">
        <span><iconify-icon icon="ic:round-chevron-left"></iconify-icon></span>
        <span>1</span>
        <span>2</span>
        <span>...</span>
        <span>9</span>
        <span>10</span>
        <span><iconify-icon icon="ic:round-chevron-right"></iconify-icon></span>
    </div>
    <%- include('../partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>

</body>

</html>